ipykernel
matplotlib
numpy
torchvision
torch
keras
pandas
h5py
tensorflow
pennylane
qiskit==0.45
pennylane_qiskit
qiskit-aer
qiskit_algorithms
qiskit_machine_learning
qiskit-ibmq-provider
qiskit_ibm_provider
